<?xml version="1.0" encoding="utf-8" ?>

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>AddMessageServlet</servlet-name>
        <servlet-class>com.sda.twit2.AddMessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMessageServlet</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sda.twit2.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>TestFilter</filter-name>
        <filter-class>com.sda.twit2.TestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SecondTestFilter</filter-name>
        <filter-class>com.sda.twit2.SecondTestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecondTestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ThirdTestFilter</filter-name>
        <filter-class>com.sda.twit2.ThirdTestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ThirdTestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>

